# Convert a integer to a floating-point number.

In [3]:
a=9
b=float(a)
print(b)
print(type(b))

9.0
<class 'float'>

# convert a float into a integer

In [4]:
a=9.2
b=int(a)
print(b)
print(type(b))

9
<class 'int'>

# convert a integer into a string

In [12]:
a=97
b=str(a)
print(b)
print(type(b))

97
<class 'str'>

# convert a list into a tuple

In [14]:
a=[1,2,3,"vijay","shete"]
b=tuple(a)
print(b)
print(type(b))

(1, 2, 3, 'vijay', 'shete')
<class 'tuple'>

# convert a tuple into a list

In [16]:
a=(1,2,3,"vijay","shete")
b=list(a)
print(b)
print(type(b))

[1, 2, 3, 'vijay', 'shete']
<class 'list'>

# convert a decimal number into a binary number

In [18]:
a=4
b=bin(a)
print(b)
print(type(b))

0b100
<class 'str'>

# convert a non-zero number into a boolean number

In [21]:
a=10
b=bool(a)
print(b)
print(type(b))

True
<class 'bool'>